body {
  margin: 0;
  color: #ffffff;
  padding: 25px;
  font-family: sans-sherif;
  background-colour: white;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  background-color: black;
  margin:0;
}

nav a, nav img {
  margin-right:17%;
}

nav a {
  top: 50%;
  transform: translateY(25%);
  color: white;
  text-decoration: none;
}

html, body {
  margin:0;
  padding:0;
}
